@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', monospace!important;
}

.main-container.container-fluid {
    height: 100vh;
    padding: 0px!important;
}

.main-container .row {
    margin: 0px;
}

.main-container .col-lg-1, .main-container .col-lg-10, .main-container .col-lg-11, .main-container .col-lg-12, .main-container .col-lg-2, .main-container .col-lg-3, .main-container .col-lg-4, .main-container .col-lg-5, .main-container .col-lg-6, .main-container .col-lg-7, .main-container .col-lg-8, .main-container .col-lg-9, .main-container .col-md-1, .main-container .col-md-10, .main-container .col-md-11, .main-container .col-md-12, .main-container .col-md-2, .main-container .col-md-3, .main-container .col-md-4, .main-container .col-md-5, .main-container .col-md-6, .main-container .col-md-7, .main-container .col-md-8, .main-container .col-md-9, .main-container .col-sm-1, .main-container .col-sm-10, .main-container .col-sm-11, .main-container .col-sm-12, .main-container .col-sm-2, .main-container .col-sm-3, .main-container .col-sm-4, .main-container .col-sm-5, .main-container .col-sm-6, .main-container .col-sm-7, .main-container .col-sm-8, .main-container .col-sm-9, .main-container .col-xs-1, .main-container .col-xs-10, .main-container .col-xs-11, .main-container .col-xs-12, .main-container .col-xs-2, .main-container .col-xs-3, .main-container .col-xs-4, .main-container .col-xs-5, .main-container .col-xs-6, .main-container .col-xs-7, .main-container .col-xs-8, .main-container .col-xs-9 {
    padding: 0px;
}

.main-container .side-navbar {
    padding: 0px;    
}

.main-container .side-navbar .nav-header {
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-container .side-navbar .nav-header h3{
    margin: 10px;
    font-size: 20px;
}

.main-container .side-navbar .dropdown-list,
.main-container .side-navbar .dropdown-list > div,
.main-container .side-navbar .nav-items {
    padding: 0px!important;
}

.main-container .side-navbar .dropdown-list .dropdown-item > div > div{
    padding-left: 54px!important;
}

.main-container .nav-items > div{
    background-color: white;
}

.main-container .side-navbar .navbar-item{
    background-color: white!important;
}

.main-container .side-navbar .navbar-item > div > div{
    padding-left: 54px!important;
}

.main-container .side-navbar .dropdown-list .fa-angle-right {
    -webkit-transition: transform 2s;
    transition: transform 2s;    
}

.main-container .side-navbar .dropdown-list .fa-angle-right.animate-down {
    transform: rotate(90deg);
}

.main-container .side-navbar .dropdown-items {
    height: 0px;
    -webkit-transition: height 1s;
    transition: height 1s;    
}

.main-container .side-navbar .dropdown-items.animate-open {
    height: 160px;
}

.main-container .router-outlet {
    padding: 0px;    
}

.main-container .router-outlet .router-outlet-content > div{
    min-height: calc(100vh - 64px);
}

.data-table-container .data-table > div > div{
    min-width: 1100px;
    overflow-x: scroll!important;
}

/*      Data Table Scroll Bar         */
.data-table-container .data-table > div::-webkit-scrollbar,
.data-table-container .data-table > div > div::-webkit-scrollbar { 
    display: none; 
}

@media(max-width: 991px) {
    .main-container .side-navbar .nav-header {
        justify-content: space-between;
    }

    .data-table-container .search-bar-row .search-container .input-group{
        width: 100%;
        margin-top: 10px;
    }

    .data-table-container .btns-container > div {
        width: 50%;
    }

}

@media(min-width: 992px) {
    .main-container .side-navbar {
        height: 100vh;
        width: 256px;
        padding: 0px;    
    }

    .main-container .side-navbar > div {
        height: 100vh;    
    }

    .main-container .router-outlet {
        width: calc(100% - 256px);
    }

    .data-table-container .search-bar-row .input-group .input-group-btn {
        width: initial!important;     
    }
}















.data-table-container .search-bar-row{
  margin: 10px 0px;
  padding: 15px!important;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.data-table-container .search-bar-row .search-container {
    display: flex;
    justify-content: flex-end;
}

.data-table-container .search-bar-row .search-container .search-input {
    outline: none;
    height: 38px;
    border-radius: 2px 0px 0px 2px;
    border-right-width: 0px;
}

.data-table-container .search-bar-row .search-container .search-input:focus {
    outline: none;
    border-color: rgb(204, 204, 204)!important;
    box-shadow: none!important;
}

.data-table-container .search-bar-row .input-group .form-control-clear {
    pointer-events: auto;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    right: 98px;
    z-index: 10;
    top: 2px;
}

.data-table-container .search-bar-row .input-group .form-control-clear:hover {
    color: black;
}

/*      Quiz Page Style       */
.add-edit-quiz-modal .questions .panel .panel-footer > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-edit-quiz-modal .prev-next-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;

}



















  .df {display: flex;}
  .fd-r {flex-direction: row;}
  .fd-c {flex-direction: column;}
  .jc-c {justify-content: center;}
  .jc-sb {justify-content: space-between}
  .jc-sa {justify-content: space-around;}
  .jc-fs {justify-content: flex-start;}
  .jc-fe {justify-content: flex-end;}
  .ai-c {align-items: center;}
  .ai-sb {align-items: space-between}
  .ai-sa {align-items: space-around;}
  .ai-fs {align-items: flex-start;}
  .ai-fe {align-items: flex-end;}
  .ai-e {align-items: end;}
  .fw {flex-wrap: wrap;}

  .table th {
      font-size: 12px;
      min-width: 150px;
      padding: 10px 20px!important;
      color: rgb(158, 158, 158);
  }

  .table td {
    font-size: 12px;
    min-width: 150px;
    vertical-align: middle;
    padding: 10px 20px!important;
    color: rgba(0, 0, 0, 0.87);
  }

  .orders-page .table td {
    line-height: 48px!important;
  }






  
  .app-container {
    background-image: url(../images/pexels-photo-730557.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .paper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .paper-container .paper .header {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    padding: 20px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    background-color: #7487d4;
  }
  
  .paper-container .paper .form {
    padding: 20px;
  }
  
  .paper-container .paper .form .input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .paper-container .paper .actions {
    display: flex;
    align-items: center;
    padding: 10px 24px;
    height: 50px;
  }

  .login-container {
    width: 40%;
  }
  
  .login-container .login-paper .actions {
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  
  .users-page .user-details .table-responsive {
      height: 200px;
  }

  .btns-container {
      height: 38px;
  }
